*{
    box-sizing: border-box;
}
body{
    width: 80%;
    margin: auto;
    height: 700px;
}
header{
    background: gold;
}
ul{
    display: flex;
    background-color: MediumTurquoise;
    justify-content:space-around;
    align-items:center;
    padding-left: 0;
}
li{
    margin: 1em;
    padding: 0.5em;
    background-color: Teal;
    color: MediumTurquoise;
}
main{
    display: flex;
    background:teal;
    width:100%;
    align-items: stretch;
    justify-content: space-between;
    height: 800px;
}
aside{
    background: green;
    width: 25%;

}
